<h3>Top Chef Rotiss Week <%= @week.to_s %> Scoring Summary</h3>
<h4>Week <%= @week.to_s %> Chef Scoring Breakdown</h4>
<table border style='text-align:center'>
  <thead><tr>
    <th>Chef</th>
    <th>Teams</th>
    <th>QuickFire</th>
    <th>Elimination</th>
    <th>Misc</th>
    <th>Points</th>
  </tr></thead>
  <% @chefs.each { |chef| %>
    <tr>
      <td><%= chef.full_name %></td>
      <td><%= chef.user_string %></td>
      <%
        chefstat_names = {}
        [:quickfire, :elimination, :miscellaneous].each { |stat_type|
          chefstat_names[stat_type] = []
        }
        chef_points = 0
        chef.chefstats.each { |chefstat|
          chefstat_names[chefstat.stat.my_stat_type] << chefstat.stat.short_name
          chef_points += chefstat.stat.points
        }
      %>
      <td><%= chefstat_names[:quickfire].join(",") %></td>
      <td><%= chefstat_names[:elimination].join(",") %></td>
      <td><%= chefstat_names[:miscellaneous].join(",") %></td>
      <td><%= chef_points.to_s %></td>
    </tr>
  <% } %>
</table>

<h4>Week <%= @week.to_s %> Picks Bonus</h4>
<table border style='text-align:center'>
  <thead><tr>
    <th>Pick</th>
    <th>Team</th>
    <th>Chef</th>
    <th>Win/Loss</th>
    <th>Points</th>
  </tr></thead>
  <% @picks.each { |pick| %>
    <tr>
      <td><%= pick.number.to_s %></td>
      <td><%= pick.user.full_name %></td>
      <td><%= pick.chef.full_name %></td>
      <td><%= pick.my_record_string %></td>
      <td><%= pick.points.to_s %></td>
    </tr>
  <% } %>
</table>

<h4>Updated Standings</h4>
<table border style='text-align:center'>
  <thead><tr>
    <th>Rank</th>
    <th>Team</th>
    <th>Total Points</th>
    <th>Chefs Remaining</th>
  </tr></thead>
  <% 
    rank = 0
    last_points = 100000000
  %>
  <% @user_id_to_points_chefs_map.sort_by { |k,v| v["points"] }.reverse.each { |user_points| %>
    <tr>
      <%
        if user_points[1]["points"] < last_points
          rank += 1
          last_points = user_points[1]["points"]
        end
      %>
      <td><%= rank.to_s %></td>
      <td><%= @user_id_to_users_map[user_points[0]].full_name %></td>
      <td><%= user_points[1]["points"].to_s %></td>
      <td><%= user_points[1]["numchefs"].to_s %></td>
    </tr>
  <% } %>
</table>



<h4>Week <%= @next_week.to_s %> Picks</h4>
<table border style='text-align:center'>
  <thead><tr>
    <th>Pick</th>
    <th>Team</th>
    <th>Chef</th>
    <th>Win/Loss</th>
  </tr></thead>
  <% @next_week_picks.each { |pick| %>
    <tr>
      <td><%= pick.number.to_s %></td>
      <td><%= pick.user.full_name %></td>
      <td></td>
      <td></td>
    </tr>
  <% } %>
</table>

<p>
  It is now <a href='http://topchef.rotiss.com'>
        <%= @next_week_picks.first.user.first_name %>'s turn</a> to pick!
</p>