
<%= navigationBar(NavigationHelper::CHEFS_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>

    <h3>The Chefs</h3>

    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
      <thead><tr>
        <th colspan=2 class='rightborderme'>Chef</th>
        <th class='rightborderme'>Teams</th>
        <th class='rightborderme'>Drafted</th>
        <th class='rightborderme'>Fantasy Points</th>
        <th>Week Eliminated</th>
      </tr></thead>

    <% @chefs.each do |chef| %>
      <tr>
        <td><%= chef.small_img %></td>
        <td><%= chef.link_to_page_with_full_name %></td>
        <td><%= chef.user_string(true).html_safe %></td>
        <td><%= chef_picks(chef) %></td>
        <td>FPTS</td>
        <td>Wk</td>
      </tr>
    <% end %>
    </table>

  </div>
</div>