<div class='span7 center'>
  <h4><%= @selected_user.first_name %>'s Team</h4>

  <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
    <thead><tr>
      <th class='rightborderme'>Draft Rd</th>
      <th colspan=2 class='rightborderme'>Chef</th>
      <th class='rightborderme'>Total Points</th>
      <th>Week Elim</th>
    </tr></thead>

    <%
      @draft_picks.each do |draft_pick|
        chef = draft_pick.chef
        elimination_week = week_eliminated(@chef_id_to_chefstats_map[chef.id])
    %>
      <tr>
        <td><%= draft_pick.round.to_s %></td>
        <td><%= chef.small_img %></td>
        <td><%= chef.link_to_page_with_full_name %></td>
        <td><strong>
          <%= @chef_id_to_points_map.has_key?(chef.id) ?
              @chef_id_to_points_map[chef.id].to_s : "0" %>
        </strong></td>
        <td><%= elimination_week ? elimination_week.to_s : "" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class='span5 center'>
  <h4>Weekly Picks</h4>
  <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
    <thead><tr>
      <th class='rightborderme'>Week</th>
      <th colspan=2 class='rightborderme'>Chef</th>
      <th class='rightborderme'>Win/Loss</th>
      <th>Bonus Points</th>
    </tr></thead>

    <% pick_count = 0 %>
    <% @picks.each do |pick| %>
      <tr>
        <%
          pick_count += 1
          if pick_count.odd?
        %>
          <td rowspan=2><%= pick.week.to_s %></td>
        <% end %>
        
        <% if pick.chef %>
          <td class=<%= "'" + pick.cell_class + "'" %>><%= pick.chef.mini_img %></td>
          <td class=<%= "'" + pick.cell_class + "'" %>>
            <%= pick.chef.link_to_page_with_first_name %>
          </td>
          <td class=<%= "'" + pick.cell_class + "'" %>><%= pick.my_record_string %></td>
          <td class=<%= "'" + pick.cell_class + "'" %>><%= pick.points.to_s %></td>
        <% else %>
          <td colspan=2></td><td></td><td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
