<%= navigationBar(NavigationHelper::DASHBOARD_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3><%= @user.first_name %>'s Dashboard</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span6 center'>
    <h4><a href='/scoreboard'>Standings</a></h4>
    <div class='underneath'>
      <strong>(Including Week <%= @score_week_number.to_s %> results)</strong>
    </div>
    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %> >
      <thead><tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Total Points</th>
        <th>Chefs Remaining</th>
      </tr></thead>
      <% 
        rank = 0
        last_points = 100000000
      %>
      <% @user_id_to_points_chefs_map.sort_by { |k,v| v["points"] }.reverse.each { |user_points| %>
        <tr>
          <%
            if user_points[1]["points"] < last_points
              rank += 1
              last_points = user_points[1]["points"]
            end
          %>
          <td><%= rank.to_s %></td>
          <td><a href=<%= "'teams/" + user_points[0].to_s + "'" %>>
                <%= @user_id_to_users_map[user_points[0]].full_name %>
              </a></td>
          <td><%= user_points[1]["points"].to_s %></td>
          <td><%= user_points[1]["numchefs"].to_s %></td>
        </tr>
      <% } %>
    </table>
  </div>

  <div class='span6 center'>
    <h4><a href='/picks'>Week <%= @pick_week_number.to_s %> Picks</a></h4>
    <% if @my_pick %>
      <div class='alert alert-info alert-center'>
        <strong>It's your pick! Click <a href='/picks' class='btn-link-blue'>here</a>!</strong>
      </div>
    <% end %>
    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %> >
      <thead><tr>
        <th>Pick</th>
        <th>Team</th>
        <th>Chef</th>
        <th>Win/Loss</th>
        <th>Points</th>
      </tr></thead>
      <% @picks.each { |pick| %>
        <tr>
          <td><%= pick.number.to_s %></td>
          <td>
            <a href=<%= "'teams/" + pick.user.id.to_s + "'" %>><%= pick.user.first_name %></a>
          </td>
          <td><%= pick.chef.nil? ? "" : pick.chef.first_name %></td>
          <td><%= pick.my_record_string %></td>
          <td><%= pick.points.nil? ? "" : pick.points.to_s %></td>
        </tr>
      <% } %>
    </table>
  </div>
</div>