<%= navigationBar(NavigationHelper::ADMIN_USERS_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Manage Users</h3>

    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + " smallfonttable'" %>>
      <thead><tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr></thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>