
<%= navigationBar(NavigationHelper::MY_TEAM_BUTTON) %>

<div class='row-fluid'>
  <div class='span8 center'>

    <h3>My Team</h3>

    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
      <thead><tr>
        <th colspan=2 class='rightborderme'>Chef</th>
        <th class='rightborderme'>Drafted</th>
        <th class='rightborderme'>Fantasy Points</th>
        <th>Week Eliminated</th>
      </tr></thead>

    <% @chefs.each do |chef| %>
      <tr>
        <td>Pic</td>
        <td><%= chef.full_name %></td>
        <%
          draft_pick = @chef_id_to_pick_map[chef.id]
        %>
        <td>Round: <%= draft_pick.round.to_s %>, Pick: <%= draft_pick.pick.to_s %></td>
        <td>FPTS</td>
        <td>Wk</td>
      </tr>
    <% end %>
    </table>

  </div>

  <div class='span4 center'>
    <h3>Weekly Picks</h3>
  </div>

</div>

