<h4>Week <%= @week.number %></h4>
<form action=<%= "'/picks/week/" + @week.number.to_s + "'" %> method='post'>
  <% 
    # Buttons only appear if it's current user's pick
    if @my_pick
  %>
    <p class='center'>
      <button class='btn btn-primary' name='updatepicks'>Make My Pick</button>&nbsp
      <button class='btn' name='cancel'>Cancel</button>
    </p>
  <% end %>

  <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + "'" %>>
    <thead><tr>
      <th class='rightborderme'>Pick</th>
      <th class='rightborderme'>Team</th>
      <th colspan=2 class='rightborderme'>Chef</th>
      <th class='rightborderme'>Win/Loss</th>
      <th>Bonus Points</th>
    </tr></thead>
    <% @picks.each { |pick| %>
      <tr>
        <td><%= pick.number.to_s %></td>
        <td><%= pick.user.link_to_page_with_full_name %></td>
        <% if @my_pick && pick.id == @current_pick.id %>
          <td class='tdselect' colspan=2><%= chef_selector(@chefs, nil, true, false) %></td>
          <td class='tdselect'><%= record_selector %></td>
        <% else %>
          <td><%= pick.chef ? pick.chef.small_img : "" %></td>
          <td><%= pick.chef ? pick.chef.link_to_page_with_full_name : "" %></td>
          <td><%= pick.my_record_string %></td>
        <% end %>
        <td><%= pick.points.to_s %></td>
      </tr>
    <% } %>
  </table>
</form>