<%= navigationBar(NavigationHelper::SCOREBOARD_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Scoreboard</h3>
    <button id='expandBtn' type='button' class='btn btn-link'>
      (expand all)
    </button>
    <button id='collapseBtn' type='button' class='btn btn-link'>
      (collapse all)
    </button>
    <button id='legendBtn' type='button' class='btn btn-link'>
      (show legend)
    </button>
    <button id='scrollBtn' type='button' class='btn btn-link'>
      (show early weeks)
    </button>
    <%= score_breakdown_tables %>
  </div>
</div>

<div id='legendModal' class='modal hide fade' tabindex='-1' role='dialog'
     aria-labelledby='myModalLabel' aria-hidden='false' style='display:none;'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h4 id='myModalLabel' class='center'>Scoring Legend</h4>
  </div>
  <div class='modal-body'>
    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + " smallfonttable'" %>>
      <thead><tr>
        <th class='rightborderme'>Code</th>
        <th class='rightborderme'>Scoring Metric</th>
        <th>Points</th>
      </tr></thead>
      
      <% @stats.each { |stat| %>
        <tr>
          <td><%= stat.abbreviation %></td>
          <td><%= stat.name %></td>
          <td><%= stat.points.to_s %></td>
        </tr>
      <% } %>
    </table>
  </div>
</div>

<script>

$('#expandBtn').click(function(){ 
  for (var i = 0; i < $('.user-collapse').length; i++) {
    if (!$($('.user-collapse')[i]).hasClass('in')) {
      $($('.user-collapse')[i]).collapse('show')
      $(".icon-plus").removeClass("icon-plus").addClass("icon-minus");
    }
  }
});

$('#collapseBtn').click(function(){ 
  for (var i = 0; i < $('.user-collapse').length; i++) {
    if ($($('.user-collapse')[i]).hasClass('in')) {
      $($('.user-collapse')[i]).collapse('hide')
      $(".icon-minus").removeClass("icon-minus").addClass("icon-plus");
    }
  }
});

$('.collapse-btn').click(function(){
  this.firstChild.nextSibling.className = (this.firstChild.nextSibling.className == "icon-plus") ?
      "icon-minus" : "icon-plus"
});

$('#legendBtn').click(function(){
  $('#legendModal').modal('toggle');
});

// shows the week columns from start to end
function showWeeks(week_start, week_end) {
  for (var w = week_start; w <= week_end; w++) {
    $('.wk'.concat(w)).show();
  }
}

// hides the week columns from start to end
function hideWeeks(week_start, week_end) {
  for (var w = week_start; w <= week_end; w++) {
    $('.wk'.concat(w)).hide();
  }
}

// only show 8 weeks total
var maxWeeks = 8;
var totalColumns = $('table')[0].children[0].children[0].children.length;
var totalWeeks = totalColumns - 2;
if (totalWeeks > maxWeeks) {
  hideWeeks(1, (totalWeeks - maxWeeks));
}

$('#scrollBtn').click(function(){
  var showEarlyWeeks = this.innerHTML.trim() == "(show early weeks)";

  // show/hide corresponding columns in table
  if (showEarlyWeeks) {
    if (totalWeeks > maxWeeks) {
      showWeeks(1, maxWeeks);
      hideWeeks((maxWeeks + 1), totalWeeks);
    } else {
      showWeeks(1, totalWeeks);
    }
  } else {
    if (totalWeeks > 8) {
      showWeeks((totalWeeks - (maxWeeks - 1)), totalWeeks);
      hideWeeks(1, (totalWeeks - maxWeeks));
    } else {
      showWeeks(1, totalWeeks);
    }
  }

  // change text in link to allow user to change back to other mode
  this.innerHTML = showEarlyWeeks ? "(show late weeks)" : "(show early weeks)"
});

</script>