<%= navigationBar(NavigationHelper::SCOREBOARD_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Scoreboard</h3>
    <button id='expandBtn' type='button' class='btn btn-link'>
      (expand all)
    </button>
    <button id='collapseBtn' type='button' class='btn btn-link'>
      (collapse all)
    </button>
    <button id='legendBtn' type='button' class='btn btn-link'>
      (show legend)
    </button>
    <%= score_breakdown_tables %>
  </div>
</div>

<div id='legendModal' class='modal hide fade' tabindex='-1' role='dialog'
     aria-labelledby='myModalLabel' aria-hidden='false' style='display:none;'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h4 id='myModalLabel' class='center'>Scoring Legend</h4>
  </div>
  <div class='modal-body'>
    <table class=<%= "'" + ApplicationHelper::TABLE_CLASS + " smallfonttable'" %>>
      <thead><tr>
        <th class='rightborderme'>Code</th>
        <th class='rightborderme'>Scoring Metric</th>
        <th>Points</th>
      </tr></thead>
      
      <% @stats.each { |stat| %>
        <tr>
          <td><%= stat.abbreviation %></td>
          <td><%= stat.name %></td>
          <td><%= stat.points.to_s %></td>
        </tr>
      <% } %>
    </table>
  </div>
</div>

<script>

$('#expandBtn').click(function(){ 
  for (var i = 0; i < $('.user-collapse').length; i++) {
    if (!$($('.user-collapse')[i]).hasClass('in')) {
      $($('.user-collapse')[i]).collapse('show')
      $($('.collapse-btn')[i])[0].innerHTML = "-"
    }
  }
});

$('#collapseBtn').click(function(){ 
  for (var i = 0; i < $('.user-collapse').length; i++) {
    if ($($('.user-collapse')[i]).hasClass('in')) {
      $($('.user-collapse')[i]).collapse('hide')
      $($('.collapse-btn')[i])[0].innerHTML = "+"
    }
  }
});

$('.collapse-btn').click(function(){ 
  // TODO use icon instead of +/-
  this.innerHTML = (this.innerHTML.trim() == "+") ? "-" : "+"
});

$('#legendBtn').click(function(){
  $('#legendModal').modal('toggle');
});

</script>